<!DOCTYPE html> 
 <html lang="en"> 
 <head> 
 <style> 
 #top { 
 margin-top: 200px; 
 } 
 table, th, td { 
 border: 1px solid black; 
 margin-top: 65px; 
 margin-left: auto; 
 margin-right: auto; 
 } 
 body { 
 background-image: url(https://keyin.com/wp-content/uploads/BLANKshareable2.png); 
 background-size: 100%;
 background-position-y: 25%; 
 background-color: #1c2c44; 
 background-repeat:no-repeat; 
 min-width: 70%; 
 text-align: center; 
 box-sizing: border-box; 
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
 } 
 </style> 
 <title>Node Stuff</title> 
 <meta charset="UTF-8" /> 
 <meta name="viewport" content="width=device-width,initial-scale=1" /> 
 </head> 
 <body> 
 <header> 
 <div id=header style="margin-top:200px;"> 
 <span>Keyin College</span> 
 <span>Semester 3 Sprint 1 - Full Stack Javascript</span> 
 <span>Group 1</span> 
 </div> 
 </header> 
 <h1>Token Search Result:</h1> 
 <table> 
 <tr> 
 <th>Username:</th> 
 <td>dsfsdfs